@model IEnumerable<AirTransport.Layover>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Flight ID
            </th>
            <th>
                Exit Time
            </th>
            <th>
                Estimated Arrival Time
            </th>
            <th>
                Destination Airport
            </th>
            <th>
                Origin Airport
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFlightNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDestinationAirportNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOriginAirportNavigation.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
